<form method="POST" action="/add-product" class="add-form align-middle">
    <div class="form-group">
      <label for="url">Etsy Link</label>
      <input type="text" class="form-control" placeholder="Enter link" name="url">
      <small class="form-text text-muted">Input your Etsy product link above.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>