<form class="add-form align-middle">
    <div class="form-group">
      <label for="exampleInputEmail1">Etsy Link</label>
      <input type="email" class="form-control" placeholder="Enter link">
      <small id="emailHelp" class="form-text text-muted">Input your Etsy product link above.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>