<div class="detail-container">
    <div class="detail-image">
        <img src="<%= product.image %>" style="width: 100%;">
    </div>
    <div class="details">
        <div class="details-title">
            <%= product.name %>
        </div>
        <hr>
        <div class="detail-price">
            EUR <%= product.price %>
        </div>
    </div>
</div>